.weather-item {
    flex: 1;
    margin: 10px;
    padding: 10px;
    background-color: #f8f9fa;
    border-radius: 8px;
    text-align: center;
    min-width: 200px;
}

.weather-item img {
    max-width: 100%;
}

@media (max-width: 768px) {
    #forecast-info {
        flex-direction: column !important;
    }
}